<div class="w3-bar" style="background-color: #325386d1; padding: 5px 60px 5px 0">
    <div class="w3-right" style="padding: 0; font-size: 1.1em">
        <a href="/lecturer/session" class="w3-bar-item top-menu-button " style=" border: none;margin: 0; text-decoration: none">
            Các phiên hỏi đáp của tôi
        </a>
        <a href="/session" class="w3-bar-item top-menu-button " style="border: none;margin: 0; text-decoration: none">
            Tất cả các phiên
        </a>
        <button class="w3-bar-item top-menu-button " onclick="dropclick()" style="border: none;margin: 0px">
            Tài khoản
            <i class="fa fa-angle-down"></i>
        </button>
        <div class="w3-dropdown-content w3-bar-block w3-border" id="dropContent" style="position: absolute; top: 40px; right: 0">
            <a href="/profile" class="w3-bar-item w3-button">
                <i class="far fa-user"></i> Thông tin cá nhân</a>
            <a href="/logout" class="w3-bar-item w3-button">
                <i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
        </div>
    </div>
</div>
