<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="F:\uet-5\ptweb\btl\New folder\New folder\Q-A-1\public\login\login.css">
</head>
<body>
	<div id="header"></div>
	<div><h3 id="login-title">Đăng nhập</h3></div>
	<div class="form-login">
		<input type="text" name="" id="username" placeholder="Tên đăng nhập">
		<br>
		<input type="password" name="" id="password" placeholder="Mật khẩu">

		<h5 id="error">Tên đăng nhập hoặc mật khẩu không chính xác!</h5>
	</div>
	<div>
		<button id="login-button" onclick="loginClick()">Đăng nhập</button>
	</div>
	<script type="text/javascript" src="F:\uet-5\ptweb\btl\New folder\New folder\Q-A-1\public\login\login.js"></script>
</body>
</html>