<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/session/session.css">
</head>
<body id="<%= userInfo._id %>">

<!--------------TOP---------------->
<div class="w3-bar" style="background-color: #325386d1;">

    <a href="/session" class="w3-button w3-bar-item top-menu-button" style="text-decoration: none;top: 10px">Bảng điều
        khiển</a>

    <a class="w3-bar-item top-menu-button w3-right w3-button" style="width: 5%">
        <i class="fa fa-bell-o"></i>
    </a>
    <div class="w3-dropdown-click w3-right" style="padding:  0px">
        <a class="w3-button w3-bar-item top-menu-button " onclick="dropclick()" style="border: none;margin: 0px">Tài
            khoản
            <i class="fa fa-angle-down"></i>
        </a>
        <div class="w3-dropdown-content w3-bar-block w3-border" id="dropContent" style="position: absolute; top: 30px">
            <a href="/profile" class="w3-bar-item w3-button">Thông tin cá nhân</a>
            <a href="/logout" class="w3-bar-item w3-button">Đăng xuất</a>
        </div>
    </div>

</div>

<!------------PAGE-CONTENT------------>
<div class="container">
    <div class="w3-bar">
        <label class="w3-bar-item title">Tất cả các sự kiện</label>
        <input class="w3-input w3-bar-item w3-right" type="text" name="search" placeholder="Tìm kiếm ...">
        <i class="fa fa-search w3-right w3-round-medium" style="padding: 12px; background-color: white;"></i>
    </div>
    <div>
        <div class="w3-row" id="event-list">
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/session/session.js"></script>
</body>
</html>