<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/userManagement/userManagement.css">
</head>
<body style="background-color: #f3f3f4;">
<div id="header" style="color: #ffdb4f;background-color: #325386d1;"><h1 id="even-name">Quản lý người dùng</h1></div>
<br>
<div id="container">
    <div class="form-popup" id="myForm">
        <form class="form-container">

            <label for="name"><b>Tên</b></label>
            <input type="text" value="" name="name" id="input" required>

            <input type="button" class="btn save" onclick="saveVal()" value="Lưu">
            <input type="button" class="btn cancel" onclick="closeForm()" value="Hủy">
        </form>
    </div>
    <div id="session-list-container">
        <table>
            <thead>
            <tr>
                <th style="width: 25%">Tên người dùng hiển thị</th>
                <th style="width: 20%">Tên đăng nhập</th>
                <th style="width: 20%">Mật khẩu</th>
                <th>Vai trò</th>
            </tr>
            </thead>
            <tbody id="user-list">
            </tbody>
        </table>
        <div class="session" id="plus"><button id = "plus-button" onclick="add()">+</button></div>
        <!--<table id="student-list">-->
        <!--</table>-->
    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/userManagement/userManagement.js"></script>
</body>
</html>