<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/userManagement/userManagement.css">
</head>
<body style="background-color: #f3f3f4;">
<% include ./partials/adminNavbar.ejs %>
<div id="header" style="color: #ffdb4f;background-color: #325386d1;"><h1 id="even-name">Quản lý người dùng</h1></div>
<br>
<div id="container">
    <div id="session-list-container">
        <table>
            <thead>
            <tr>
                <th style="width: 25%">Tên người dùng hiển thị</th>
                <th style="width: 20%">Tên đăng nhập</th>
                <th style="width: 20%">Mật khẩu</th>
                <th>Vai trò</th>
            </tr>
            </thead>
            <div id="tbody-wrapper">
                <tbody id="user-list">
                </tbody>
            </div>
        </table>
    </div>
    <form id="user-form" autocomplete="off" method="post">
        <div>
            <label for="fullname">Tên đầy đủ: </label>
            <input id="fullname" name="fullname" type="text" placeholder="Tên đầy đủ" required>
        </div>
        <div>
            <label for="username">Tên đăng nhập: </label>
            <input id="username" name="username" type="text" placeholder="Tên đăng nhập" required>
        </div>
        <div>
            <label for="password">Mật khẩu: </label>
            <input id="password" name="password" type="password" placeholder="Mật khẩu" required>
        </div>
        <div>
            <label for="role">Vai trò: </label>
            <select name="role" id="role">
                <option value="lecturer">Giảng viên</option>
                <option value="student">Sinh viên</option>
            </select>
        </div>
        <div>
            <button class="create-btn">Tạo người dùng</button>
        </div>
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/userManagement/userManagement.js"></script>
</body>
</html>