body, input {
	margin: 0;
	padding: 0;
	background-color: #f3f3f4;
}

body, input, h1 {
	font-family: Roboto,Helvetica,Arial,Microsoft YaHei,SimHei,sans-serif !important;
}

#header{
	text-align: center;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
}

#container{
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
/****************************************************/

#btn{
	background-color: white;
    cursor: pointer;
	color: black;
	border: none;
	border-radius: 5px;
	font-size: 0.9em;
	padding: 15px 35px;
	margin-bottom: 5px;
}

#btn:hover{
	background-color: rgba(62, 111, 174, 0.82);
}

#session-list-container{
    display: inline-block;
    overflow-y: auto;
    max-height: 400px;
    width: 100%;
}

table{
	width: 100%;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid #c2c2c3;
}

select {
    border: 2px solid #aaa;
    border-radius: 5px;
    font-size: 1em;
    width: 150px;
}

div input, form button, form select {
    float: right;
}

td, th {
    text-align: left;
    padding: 5px;
}

.create-btn {
    background-color: #325386d1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 0.9em;
    padding: 10px 20px;
}

.create-btn:hover {
    background-color: rgba(62, 111, 174, 0.82);
}

#user-form {
    background-color: white;
    border: 2px solid #aaa;
    border-radius: 5px;
    font-size: 1em;
    padding: 20px;
    margin: 20px auto;
    width: 350px;
}

#user-form input:focus, select:focus, button:focus {
    outline: none;
}

#user-form input {
    border: 2px solid #aaa;
    border-radius: 5px;
    font-size: 1em;
    padding: 5px;
    width: 200px;
}

#user-form div {
    height: 40px;
}

.delete-btn, .edit-btn {
	border: none;
	background-color: transparent;
	cursor: pointer;
	float: right;
	padding: 0;
}

.delete-btn {
	margin-left: 5px;
}

.edit-btn i, .delete-btn i {
	font-size: 20px;
}

.fa-trash-alt {
	color: #de3438;
}

.fa-check {
	color: #00b200;
}

.fa-edit {
	color: #e49500;
}

.focus {
	background-color: #caefff !important;
}

#plus-button{
	width: 100%;
	background-color: white;
    cursor: pointer;
	color: black;
	border: none;
	border-radius: 5px;
	font-size: 0.9em;
	padding: 15px 35px;
	margin-bottom: 5px;
}

#user-list {
	background-color: white;
}

table tr:nth-child(even){
	background-color: #f3f3f4;
}

/****************************************************/
#student-list{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	display: inline-block;
}

.tb1Name{
	width: 44%;
	background-color: white;
	height: 60%;
	margin-bottom: 30px;
	padding: 20px;
	overflow: auto;
	z-index: 1;
	position: relative;
	float: left;
	border-radius: 5px;
}

.tb2Name{
	width: 44%;
	float: right;
	background-color: white;
	height: 60%;
	margin-bottom: 30px;
	padding: 20px;
	overflow: auto;
	z-index: 1;
	position: relative;
	border-radius: 5px;
}

.session{
	cursor: pointer;
}

.icon-session{
	width: 80px;
}

.session-info{
}

.schedule{
	color: gray;
	font-size: 80%;
}

.session-name{
	width: 360px;
	padding: 5px;
	font-size: 130%;
}

.session :hover{
	background-color: #E3E3E3;
}
#plus, #del{
	cursor: pointer;
	font-size: 20px;
}
#plus:hover, #del:hover{
	color: red;
}
#del{
	width: 50px;
}
.editInput{
	display: none;
}
/*popup------------------------------*/
.form-popup {
	margin: auto;
	margin-bottom: -200px;
	width: 300px;
	display: none;
	bottom: 0;
	right: 15px;
	border: 3px solid #f1f1f1;
	z-index: 1000;
	position: relative;
}

.form-container {
  width: 90%;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text]{
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
}

.form-container input[type=text]:focus{
  background-color: #ddd;
  outline: none;
  border-radius: 5px;
}

.form-container .btn {
  background-color: #325386d1;
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-bottom:10%;
  border-radius: 5px;
}

.form-container .btn:hover{
  opacity: 1;
}
.form-container .save{
	margin-right: 30%;
}

.top-menu-button{
	background-color: inherit;
	color: white;
	cursor: pointer;
}
