body{
	font-family: Roboto,Helvetica,Arial,Microsoft YaHei,SimHei,sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f3f3f4;
}

button:focus, input:focus, textarea:focus {
	outline: none;
}

canvas {
	margin: auto;
	width: 500px !important;
	height: 500px !important;
}

#header{
	font-size: 1.3em;
    padding-top: 10px;
	background-color: #325386d1;
}
#body{
	height: 90%;

}

#title{
    color: #673AB7;
    font-size: 26px;
    font-weight: 400;
	text-align: center;
    text-transform: capitalize;
}

#user-id {
	color: #ffffffb0;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
}

#user-id span {
	color: #ff7474;
    font-weight: bold;
    font-style: normal;
}

#list-question{
    clear: right;
	width: 60%;
	background-color: #fff;
	margin: 0 auto 50px;
	word-break: break-all;
}
#input-question, #input-author{
	border: 2px solid #aaa;
	border-radius: 5px;
    box-sizing: border-box;
    font-family: inherit !important;
    font-size: 1em;
    padding: 10px;
    width: 100%;
}

#event-name {
	color: #ffdb4f;
    font-weight: 500;
	margin-top: 5px;
    text-align: center;
    text-transform: capitalize;
}

#event-name span {
    color: #ffffffb0;
	font-size: 25px;
    font-weight: normal;
    font-style: italic;
}

#symbol {
	color: #f3f3f4;
    text-align: center;
    font-size: 4em;
    margin: 2px;
}

.loader-container {
	width: 50px;
	height: 50px;
	margin: auto;
}

.loader {
	animation: 1s linear infinite rotate;
	display: inline-block;
	border: 0 solid #325386d1;
	border-right-width: 1px;
	border-bottom-width: 2px;
	border-left-width: 4px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

.reply-button{
	background: none;
	border: none;
	cursor: pointer;
	float: left;
	height: 30px;
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
}

.big-loader {
	width: inherit;
	height: inherit;
}

table {
	border: none;
}

.question-block {
	border: transparent;
	border-bottom-color: #E8E8EA;
}

.author, .reply-button {
	color: #898B95;
}

.author {
	line-height: 1.5em;
}

.vote-zone {
	text-align: center;
	width: 10%;
}

.vote-icon {
	border: 1px solid #C3C3C9;
	border-radius: 50%;
	color: #C3C3C9;
	/*cursor: pointer;*/
	font-size: 2.5em;
	margin-bottom: 8px;
	padding: 1px 8px;
	vertical-align: text-top;
}

.vote-count {
	font-weight: bold;
	font-size: 1.2em;
}

.hidden {
	display: none;
}

.backBtn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	float: left;
	margin-left: 20px;
	position: absolute;
	padding: 10px;
}

.backBtn i {
	color: white;
	font-size: 40px;
}


#feedback-button, #survey-button, #report-button {
	background-color: #325386d1;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: white;
	display: block;
	font-size: 0.9em;
	margin: 0 auto 10px;
	padding: 15px 35px;
}

#survey-button:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

#survey-button:hover {
	background-color: rgba(62, 111, 174, 0.82)
}

#feedback-modal, #report-modal {
	position: fixed;
	z-index: 1;
	padding-top: 50px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

/* Modal Header */
.modal-header {
	padding: 2px 0 2px 16px;
	background-color: #325386d1;
	color: white;
	font-style: italic;
	font-weight: lighter;
}

.modal-header span {
	font-style: normal;
	font-weight: bold;
}

/* Modal Body */
#feedback-modal .modal-content {
	height: 80%;
	overflow: auto;
}

.modal-body {padding: 2px 16px;}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 60%;
}

/* The Close Button */
.close {
	background: none;
	border: none;
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
	width: 50px;
	height: 50px;
}

.close:hover,
.close:focus {
	opacity: 0.5;
	text-decoration: none;
	cursor: pointer;
}
